html{
    width:100%;
    height:100%;
    
}

body {
    width:100%;
    height:100%;
    margin:0 0 0 0 ;
    
}
#banner{
    
    width:100%;
    height:650px;
    background: url("background.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

#search{
    width:30%;
    padding-left: 35%;
    padding-top:15%;
    text-align : center;
}

#searchbar{
    width:60%;
    height:30px;
    border-radius: 10px;
}

#find{
    width:10%;
    height:40px;
    border-radius: 10px;
    background:#111111;
    color:#ffffff;
    border-color: none;
}

#slogan{
    color:#fff;
    
    
}

#HowItWorks{
    width:100%;
    text-align: center;
    font-weight: normal;
}

#FeaturesCafe{
    padding-top: 2%;
    width:100%;
    text-align: center;
    font-weight: normal;
    background-color: moccasin;
}


.topnav {
    width:100%;
    top:0;
    left: 0;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5% 1%;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: absolute;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  #logo{
      padding-right: 28%;
  }